{% extends 'base.html' %}

{% block title %}Contact | {% endblock%}

{% block content %}
<h1 class="title">Contact</h1>
<section class="section" id="contact">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="card">
                    <header class="card-header has-background-light">
                        <p class="card-header-title">
                            Free Consultation
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="field">
                            <label class="label">Name</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Name">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Phone number</label>
                            <p class="control">
                                <input class="input" type="text" placeholder="Phone number">
                            </p>
                        </div>
                        <div class="field">
                            <label class="label">Email</label>
                            <p class="control">
                                <input class="input" type="email" placeholder="Email">
                            </p>
                        </div>
                        <div class="field">
                            <p class="control">
                                <button class="button is-success">
                                    Submit
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}